@import url("../shared/fonts.css");

#products-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#products-container::-webkit-scrollbar {
    display: none;
}

.stars {
  background: linear-gradient(
    90deg,
    var(--color-text-neutral-black) calc(var(--rating) / 5 * 100%),
    var(--color-text-neutral-gray) calc(var(--rating) / 5 * 100%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

figure {
  position: relative;
}

figure .default-image {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

figure .default-image:hover {
  opacity: 0;
}

figure .default-image:hover .hover-image {
  opacity: 1;
}

figure .hover-image:hover .default-image {
  opacity: 0;
}